.menu-header {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.select-all {
    display: flex;
    align-items: center;
    justify-content: end;
}

.emp-item {
    display: flex;
}

.chat-room {
    position: absolute;
    top: 20%;
    left: 5%;
    display: flex;
    flex-direction: column;
    background-color: rgba(243, 243, 226, 0.6);
    width:70% ;
}

.chat-box {
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 100%;
    height: 400px;
    max-height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    
}

.date-box {
    display: flex;
    flex-direction: column;

}

.input-box{
    display: flex;
    align-items: center;
    
}

.input {
    height: 100%;
    width: 100%;
    margin: 0;
}

.chat-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    height: 370px;
    width: 15%;
    /* left: 80%; */
    right: 3%;
    top: 16%;
    overflow-y: auto;
    padding: 24px 0;
    position: fixed;
}

.no-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;

}

.date-header {
    text-align: center;
    color: rgb(129, 126, 126);
}