.message {
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 3px;
    margin: 8px;
}
.my {
    margin-left: auto;

    
}
.you {
    margin-right: auto;
}

.msg-bowl {
    background-color: bisque;
    border-radius: 3px;
    padding: 5px;
    max-width: 200px;
    display: flex;
    align-items: center;
}

.name {
    display: flex;
    white-space: nowrap;
    text-align: center;
    font-size: 0.5em;
}

.date {
    color: rgb(94, 89, 89);
    align-self: flex-end;
    font-size: 0.5em;
}

.avartar {
    align-self: flex-start;
}