.body {
    width: 100%;
}

.container {
    width: 100%;
    margin: 0;
}

.content {
    position: relative;
   display: flex;
   flex-direction: column;
   width: 78%;
   height: 90%;
   margin-top: 0;
   margin-left: auto;
   margin-right: auto;
   
}

.create-box {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80%;
    border-radius: 5px;
    margin: auto;
    outline: 2px solid red;
}

.employee-list{
   height: 400px;
   width: 100%;
}



.employee {
    display: flex;
    letter-spacing: 3px;
    word-spacing: 5px;
    padding: 0;
    white-space: nowrap;
    align-items: center;
}

.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.items {
    cursor: pointer;
}


.title-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.title {
    font-size: 2em;
    display: inline-block;
    position: relative;
    text-shadow: 2px 2px #939aa1;
    white-space: nowrap;
}